
<div id="header">
  <div class="four columns">  
    <h1><a href="/">App with Blog</a></h1>
  </div>
  <div class="twelve columns">
    <%= render 'layouts/navigation' %>
  </div><!-- .twelve columns -->
</div> <!-- #header -->

