<ul class="" id="navigation">
	<li>
		<a href="/">Home</a>
	</li>
	<li class="<%= selected_if(controller.controller_name == 'posts') %>">
		<a href="/blog">Blog</a>
	</li>
	<li class="<%= selected_if(params[:id] == 'about') %>">
		<a href="/about">About</a>		
	</li>
</ul>